<email>
    <subject>Password Reset Token</subject>
    <body>
        <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
            <head>
                <meta charset="utf-8" />
                <title></title>
            </head>
            <body>
                <table>
                    <tr>
                        <td>Token:</td>
                        <td>{token}</td>
                    </tr>
                    <tr>
                        <td>Url:</td>
                        <td>{url}</td>
                    </tr>
                </table>
            </body>
        </html>
    </body>
</email>