@using Kendo.Mvc.UI
@using GmWeb.Web.Demographics.ViewModels
@model PieChartModel

@{ 
    var chartId = $"pie-chart_{Model.Guid}";
}

<div class="demo-section k-content wide">
    @(Html.Kendo().Chart().Deferred()
        .Name(chartId)
        .Legend(legend => legend.Position(ChartLegendPosition.Right))
        .ChartArea(chart => chart.Background("transparent"))
        .Tooltip(tooltip => tooltip.Visible(true).Format("{0:N}"))
        .Title(Model.Title)
        .Series(series =>
        {
            series.Pie(Model.Items)
            .Labels(labels => labels
                .Template("#= category #: #= kendo.toString(value, 'n0') #")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
    )
</div>
@Html.Razor().DeferredScripts()