@using Microsoft.AspNet.Identity
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using GmWeb.Web.Common
@using GmWeb.Web.Common.Utility

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", this.Controller(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-top-links navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", this.Controller(), routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="@(GmWeb.IdentityAPI.AccountAPI.LogoffUrl)">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li><a href="@(GmWeb.IdentityAPI.AccountAPI.RegisterUrl)">Log off</a></li>
        <li><a href="@(GmWeb.IdentityAPI.AccountAPI.LoginUrl)">Log off</a></li>
    </ul>
}
