<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="$(SolutionDir)GmWeb.Common\TextTransforms\EntityFramework\BitArray.t4" #>
<#@ output extension=".generated.cs" #>

namespace GmWeb.Logic.Data.Models.Carma;

<#
GenerateBitArray(
	ParentClass: "Thread", 
	PropertyName: "Status",
	Flags: new string[]{ "Flagged" },
	Persisted: new string[]{ }
);
#>