<style>
    #StepViewerScrollview {
        overflow: auto;
        height: 350px;
        background-color: white;
    }

    #StepViewerScrollview thead {
        display: none;
    }

    #StepViewerScrollview .ibox-content {
        border: none;
    }
</style>
<div id="StepViewerScrollview">
    <div id="StepViewerContainer"></div>
</div>