@using GmWeb.Web.Profile.Models
@model VolunteeringViewModel
@{
    ViewBag.Title = "Volunteering";
}

<table style="border: 0px; width: 100%;" align="center" cellspacing="3" cellpadding="3">
    <tr>
        <td style="width: 100%" colspan="4" align="left" valign="top">
            The volunteer screen is under construction
        </td>
    </tr>
</table>