@using GmWeb.Common
@using GmWeb.Web.Identity.Models
@model RequestTokenViewModel
@{
    Layout = this.SimplifiedLayout();
    ViewBag.Title = "Request Registration Token";
}
@using (var form = Html.GmRazor().BeginForm(opts =>
{
    opts.Action = "RequestRegistration";
    if (Model.IsEmailSent)
    {
        opts.SubmitLabel = $"Request Another Token";
    }
    else
    {
        opts.SubmitLabel = $"Request Token";
    }
    opts.GenerateItemLabels = true;
    opts.GenerateValidationSummary = true;
    opts.Route(new { ReturnUrl = ViewBag.ReturnUrl });
}))
{
    if (Model.IsEmailSent)
    {
        <div class="alert alert-success">
            <div style="font-size:  15px; font-weight:  bold;">Token Sent!</div>
        </div>
    }
    @Html.GmRazor().BrandedLogo()
    <h4 class="logo-name" style="font-size:25px; text-transform:uppercase; letter-spacing:0; margin-bottom:10px;">Registration Token</h4>
    @Html.GmRazor().FormItem(m => m.Email)
}
@Html.GmRazor().BrandedFooter()
