@model RequestPasswordResetViewModel
@{
    Layout = this.SimplifiedLayout();
    ViewBag.Title = "Request Password Reset";
}
<div style="width: 500px">
    @using (var form = Html.GmRazor().BeginForm(opts =>
    {
        opts.Action = "RequestPasswordReset";
        if (Model.IsEmailSent)
        {
            opts.SubmitLabel = $"Request Another Token";
        }
        else
        {
            opts.SubmitLabel = $"Request Token";
        }
        opts.GenerateItemLabels = true;
        opts.GenerateValidationSummary = true;
        opts.Route(new { ReturnUrl = ViewBag.ReturnUrl });
    }))
    {
        @Html.GmRazor().BrandedLogo()
        <h4 class="logo-name" style="font-size:25px; text-transform:uppercase; letter-spacing:0; margin-bottom:10px;">Reset Token</h4>
        @Html.GmRazor().FormItem(m => m.Email)
        @Html.GmRazor().StatusMessage()
    }
    @Html.GmRazor().BrandedFooter()
</div>