<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="margin-left: 15px; margin-top: -8px;">
            <h1>@(ViewBag.Title)</h1>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>