
@{
    ViewBag.AlertType = "danger";
    ViewBag.Title = "Error";
    Layout = this.AlertLayout();
}

<h3 class="alert-heading">Registration Error</h3>
<hr />
<h4>You are not authorized to register this account. Please contact an administrator for further assistance.</h4>